.small-icon {
    width: 28px;
    height: 28px;
  }
  .user-icon {
    width: 38px;
    height: 38px;
  }
  
  .search-container2 {
	position: relative;
	width: 650px;
	margin-bottom: 10px;
}

.search-icon-btn2 {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	border: 1px solid black;
	padding: 8px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
	top: 18px;
	right: -30px;
}

.search-icon2 {
	font-size: 25px;
	color: rgb(248, 246, 246);
}

.search-input2 {
	position: relative;
	padding: 8px;
	border: 1.5px solid #a3a1a1;
	border-radius: 4px;
	margin-top: 10px;
	color: #434242;
	font-size: 20px;
	padding: 8px;
	border: 1.5px solid #a3a1a1;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}
/* ------- */
.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  display: block;
  border-bottom: 1px solid #dddddd;
}

.dropdown li:last-child {
  border-bottom: none;
}

.dropdown li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000000;
}

.dropdown li a:hover {
  background-color: #f0f0f0;
}


  