.navbar-after {
	align-items: baseline;
	position: relative;
	z-index: 5;
}

.navbar-after .dropdown-li {
	display: flex;
	text-align: start;
	justify-content: space-between;
	align-items: center;
}
.icons {
	color: "#414046";
}
.triangle-icon {
	margin: 8px 0px 0px -5px;
	color: #f9f9f9;
	position: absolute;
	display: none !important;
}
.dropdown-li:hover .icons {
	color: #1dbf73;
}
.dropdown {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	/* display: none; */
	background-color: #f9f9f9;
	position: absolute;
	line-height: 30px;
	margin-top: 21px;
	margin-left: -20px;
	padding-top: 10px;
	height: 120%;
	width: 118px;
	z-index: 0;
}

.small-icon {
	width: 28px;
	height: 28px;
}
.user-icon-container {
	margin-left: 30px;
}
.user-nav-icon {
	cursor: pointer;
	width: 38px;
	height: 38px;
}
.triangle-icon {
	display: none;
}
/* .user-icon-container:hover .dropdown,
.triangle-icon {
	display: block;
}
.user-icon-container:hover .triangle-icon {
	display: block !important;
} */

.search-container2 {
	position: relative;
	width: 650px;
	margin-bottom: 10px;
}

.search-icon-btn2 {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	border: 1px solid black;
	padding: 8px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
	top: 18px;
	right: -30px;
}

.search-icon2 {
	font-size: 25px;
	color: rgb(248, 246, 246);
}

.search-input2 {
	position: relative;
	padding: 8px;
	border: 1.5px solid #a3a1a1;
	border-radius: 4px;
	margin-top: 10px;
	color: #434242;
	font-size: 20px;
	padding: 8px;
	border: 1.5px solid #a3a1a1;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}
