.navbar-after {
	align-items: baseline;
	position: relative;
	z-index: 5;
}

.navbar-after .dropdown-li {
	display: flex;
	text-align: start;
	justify-content: space-between;
	align-items: center;
}
.icons {
	color: "#414046";
}
.triangle-icon {
	margin: 8px 0px 0px -5px;
	color: #f6f6f6;
	position: absolute;
}
.dropdown-li:hover .icons {
	color: #1dbf73;
}
.dropdown {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	/* display: none; */
	background-color: #f6f6f6;
	position: absolute;
	line-height: 30px;
	margin-top: 21px;
	margin-left: -20px;
	padding-top: 10px;
	height: 120%;
	width: 118px;
	z-index: 0;
}
.small-icon {
	width: 28px;
	height: 28px;
}
.user-icon-container {
	margin-left: 30px;
}
.user-nav-icon {
	cursor: pointer;
	width: 38px;
	height: 38px;
}
