@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.navbar-after {
	/* position: fixed; */
	font-family: "Roboto", sans-serif;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 40px;
	padding: 10px 10px;
	/* width: 110%; */
	gap: 10%;
	/* gap: 100px; */
	background-color: white;
}
.navbar-after li {
	margin: 0 10px;
}

.navbar-after a {
	color: #1dbf73;
	text-decoration: none;
}
.navbar-after ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
}

.navbar-after ul li {
	/* display: inline-block; */
	margin-right: 20px;
}

.navbar-after ul li:last-child {
	margin-right: 0;
}
.navbar-after-logo {
	height: 30px;
	width: auto;
	margin-top: -9px;
}
.navbar-after ul li a {
	color: #494747;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}
.navbar-after ul li a.Business {
	color: rgb(53, 11, 143);
}
.navbar-after ul li a:hover {
	color: #1dbf73;
}
.navbar-after ul li a.Business:hover {
	color: #1dbf73;
}

.navbar-after ul li a.join-link {
	color: #1dbf73;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	border: 1px solid #1dbf73;
	padding: 10px 20px;
	border-radius: 5px;
}
.navbar-after ul li a.join-link:hover {
	background-color: #1dbf73;
	color: rgb(253, 253, 253);
}
.navbar-after ul li a.join-link:active {
	background-color: #1dbf73;
}
.search-container {
	position: relative;
	width: 450px;
	margin-bottom: 10px;
}

.search-icon-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	border: 1px solid black;
	padding: 8px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
	top: 18px;
	right: -30px;
}

.search-icon {
	font-size: 25px;
	color: rgb(248, 246, 246);
}

.search-input {
	position: relative;
	padding: 8px;
	border: 1.5px solid #a3a1a1;
	border-radius: 4px;
	margin-top: 10px;
	color: #434242;
	font-size: 20px;
	padding: 8px;
	border: 1.5px solid #a3a1a1;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}
