@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
p {
	font-family: "Roboto", sans-serif;
}
nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 40px;
	padding: 10px 10px;
	width: 100%;
}
nav li {
	margin: 0 10px;
}

nav a {
	color: #1dbf73;
	text-decoration: none;
}
nav {
	background: #fcfafa;
}

nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	color: #494747;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}
nav ul li a.Business {
	color: rgb(53, 11, 143);
}
nav ul li a:hover {
	color: #1dbf73;
}
nav ul li a.Business:hover {
	color: #1dbf73;
}

nav ul li a.join-link {
	color: #1dbf73;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	border: 1px solid #1dbf73;
	padding: 10px 20px;
}
nav ul li a.join-link:hover {
	background-color: #1dbf73;
	color: rgb(253, 253, 253);
}
button {
	background-color: black;
	border: 1px solid black;
	padding: 1px;
	border-radius: 5px;
	height: 60px;
	margin-left: 50px;
}
button search {
	color: rgb(248, 246, 246);
	font-size: 16px;
}

nav ul li a.join-link:active {
	background-color: #1dbf73;
}

input[type="text"] {
	color: #434242;
	font-size: 20px;
	padding: 8px;
	border: 1.5px solid #a3a1a1;
	border-radius: 4px;
	width: 450px;
	position: absolute;
	left: 200px;
	margin-top: 10px;
}
input[type="text"]::placeholder {
	color: #5f5f5f;
}

::-webkit-input-placeholder {
	color: #ddd;
}

::-moz-placeholder {
	color: #ddd;
}

:-ms-input-placeholder {
	color: #ddd;
}

::-ms-input-placeholder {
	color: #ddd;
}

::placeholder {
	color: #ddd;
}
