.message {
	display: flex;
	justify-content: center;
}
.message .container {
	width: 1200px;
	margin: 50px;
}
.message .container .breadcrumbs {
	font-weight: 300;
	font-size: 13px;
	color: #555;
}
.message .container .messages {
	margin: 30px 0px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 500px;
	overflow: scroll;
	overflow-x: hidden;
}
.message .container .messages .item {
	display: flex;
	gap: 20px;
	max-width: 600px;
	font-size: 18px;
}
.message .container .messages .item.owner {
	flex-direction: row-reverse;
	align-self: flex-end;
}
.message .container .messages .item.owner p {
	max-width: 500px;
	border-radius: 20px 0px 20px 20px;
	background-color: royalblue;
	color: white;
}
.message .container .messages .item img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}
.message .container .messages .item p {
	max-width: 500px;
	padding: 20px;
	background-color: #f4f1f1;
	border-radius: 0px 20px 20px 20px;
	color: gray;
	font-weight: 300;
}
.message .container hr {
	height: 0;
	border: 0.5px solid #e8e6e6;
	margin-bottom: 20px;
}
.message .container .write {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.message .container .write textarea {
	width: 80%;
	height: 100px;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 10px;
}
.send-msg {
	cursor: pointer;
	border: 1px solid #1dbf73;
	border-radius: 5px;
	padding: 10px;
	font-size: 25px;
	font-weight: 600;
	text-decoration: none;
	color: #1dbf73;
	background-color: white;
	transition: all 0.3s ease-in-out;
}
.send-msg:hover {
	color: white;
	background-color: #18a865;
}
