@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.services-wrapper {
	font-family: "Roboto", sans-serif;
	display: flex;
	margin: 0 1.5rem 3rem 1.5rem;
	height: 100%;
	gap: 40px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.service-whole-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 22%;
	height: 300px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	/* margin-bottom: -40px; */
}
.image-container {
	width: 100%;
	height: 50%;
}
.service-img {
	border-radius: 5px;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 2px 0px rgb(122 122 122 / 57%);
	border: 1px solid #00000024;
	cursor: pointer;
}
.service-info-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	text-align: start;
	width: 100%;
}
.service-freelancer-username {
	color: black;
	font-size: 13px;
	font-weight: 600;
	margin: 10px 0 5px;
}
.user-icon {
	padding: 0 10px;
}
.service-title {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 4px;
	cursor: pointer;
}
.service-link {
	text-decoration: none;
	color: #2d2e31;
}
.service-whole-container:hover .service-title {
	text-decoration: underline;
}

.service-price {
	color: #329e6c;
	font-size: 18px;
	font-weight: 600;
	margin-top: auto;
	margin-left: 8rem;
	letter-spacing: 1px;
}
.pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-top: 2rem; */
	gap: 30px;
}
.page-number {
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	color: #1dbf73;
	padding: 0 25px;
}
.pagination-btn {
	cursor: pointer;
	border: 1px solid #1dbf73;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: #1dbf73;
	background-color: white;
}
.pagination-btn:hover {
	color: white;
	background-color: #1dbf73;
}
.pagination-btn:disabled {
	cursor: auto;
	border: 1px solid #1dbf7357;
	color: #1dbf7357;
	background-color: rgba(255, 255, 255, 0.644);
}
.user-service-delete-btn {
	cursor: pointer;
	border: 1px solid #b41616;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: #b41616;
	background-color: white;
	transition: all 0.3s ease-in-out;
}
.user-service-delete-btn:hover {
	color: white;
	background-color: #b41616;
}
.price-crud {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 15px;
}
.service-price-1 {
	font-size: 18px;
	font-weight: 600;
	margin-top: auto;
	margin-left: 2rem;
	letter-spacing: 1px;
	color: #329e6c;
}
.category-gig-name {
	font-size: 15px;
	margin-left: 3rem;
}
.category-gig-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 15px;
}
