.container {
    position: relative;
  }
  
  .navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  
  .content-container {
    margin-top: 60px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
  }
  