.gigCard {
	width: 324px;
	height: 400px;
	border: 1px solid #e4e4e4;
	margin-bottom: 40px;
}
.gigCard img {
	width: 100%;
	height: 50%;
	object-fit: cover;
}
.gigCard .info {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.gigCard .info .user {
	display: flex;
	align-items: center;
	gap: 10px;
}
.gigCard .info .user img {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	object-fit: cover;
}
.gigCard .info p {
	color: #111;
}
.gigCard .info .star {
	display: flex;
	align-items: center;
	gap: 5px;
}
.gigCard .info .star img {
	height: 14px;
	width: 14px;
}
.gigCard .info .star span {
	font-size: 14px;
	font-weight: bold;
	color: #ffc108;
}
.gigCard hr {
	height: 0;
	border: 0.5px solid #e4e4e4;
}
.gigCard .detail {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.gigCard .detail img {
	width: 16px;
	height: 16px;
	cursor: pointer;
	object-fit: cover;
}
.gigCard .detail .price span {
	color: #999;
	font-size: 12px;
}
.gigCard .detail .price h2 {
	color: #555;
	font-size: 18px;
	font-weight: 400;
	text-align: end;
}
.gigCard .detail .price sup {
	font-size: 12px;
	font-weight: 300;
}
.gigs {
	width: 100%;
	display: flex;
	justify-content: center;
}
.gigs .container {
	width: 1400px;
	padding: 30px 0px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.gigs .container .breadcrumbs {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 13px;
	color: #555;
}
.gigs .container p {
	color: #999;
	font-weight: 300;
}
.gigs .container .menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.gigs .container .menu .left {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #555;
	font-weight: 300;
}
.gigs .container .menu .left input {
	padding: 5px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	outline: none;
}
.gigs .container .menu .left input::placeholder {
	color: #999;
}
.gigs .container .menu .left button {
	padding: 5px 10px;
	background-color: #1dbf73;
	color: white;
	border: none;
	font-weight: 500;
	border-radius: 5px;
	cursor: pointer;
}
.gigs .container .menu .right {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
}
.gigs .container .menu .right .sortBy {
	color: #555;
	font-weight: 300;
}
.gigs .container .menu .right .sortType {
	font-weight: 500;
}
.gigs .container .menu .right img {
	width: 15px;
	cursor: pointer;
}
.gigs .container .menu .right .rightMenu {
	padding: 20px;
	background-color: white;
	border: 0.5px solid lightgrey;
	border-radius: 5px;
	position: absolute;
	top: 30px;
	right: 0;
	z-index: 9;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: #555;
}
.gigs .container .menu .right .rightMenu span {
	cursor: pointer;
}
.gigs .container .cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
