.services-wrapper {
	display: flex;
	margin: 3rem 1.5rem 0 1.5rem;
	height: 100%;
	gap: 40px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.service-whole-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 22%;
	height: 300px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin-bottom: -40px;
}
.image-container {
	width: 100%;
	height: 50%;
}
.service-img {
	border-radius: 5px;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}
.service-info-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	text-align: start;
	width: 100%;
}
.service-freelancer-username {
	font-size: 13px;
	margin-bottom: 4px;
}
.service-title {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 4px;
}
.service-link {
	text-decoration: none;
	color: black;
}
.service-whole-container:hover .service-link {
	text-decoration: underline;
	color: black;
}

.service-price {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	margin-top: auto;
}
.pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	gap: 30px;
}
.previous {
	color: red;
	padding: 0 5px;
}
.active {
	color: purple;
	padding: 0 5px;
}
.next {
	color: blue;
	padding: 0 5px;
}
