.services-wrapper {
	display: flex;
	margin: 3rem 1.5rem 0 1.5rem;
	height: 100%;
	gap: 40px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.service-whole-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 22%;
	height: 300px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin-bottom: -40px;
}
.image-container {
	width: 100%;
	height: 50%;
}
.service-img {
	border-radius: 5px;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}
.service-info-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	text-align: start;
	width: 100%;
}
.service-freelancer-username {
	font-size: 13px;
	margin-bottom: 4px;
}
.service-title {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 4px;
}
.service-link {
	text-decoration: none;
	color: black;
}
.service-whole-container:hover .service-link {
	text-decoration: underline;
	color: black;
}

.service-price {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	margin-top: auto;
}
.pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	gap: 30px;
}
.page-number {
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	color: #1dbf73;
	padding: 0 25px;
}
.pagination-btn {
	cursor: pointer;
	border: 1px solid #1dbf73;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: #1dbf73;
	background-color: white;
}
.pagination-btn:hover {
	color: white;
	background-color: #1dbf73;
}
.pagination-btn:disabled {
	cursor: auto;
	border: 1px solid #1dbf7357;
	color: #1dbf7357;
	background-color: rgba(255, 255, 255, 0.644);
}
