.messages {
	display: flex;
	justify-content: center;
}
.messages .container {
	width: 1400px;
	padding: 50px 0px;
}
.messages .container .title {
	display: flex;
	justify-content: space-between;
}

.btn-read {
	cursor: pointer;
	border: 1px solid #1dbf73;
	border-radius: 5px;
	padding: 5px 7px;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: #1dbf73;
	background-color: white;
	transition: all 0.3s ease-in-out;
}
.btn-read:hover {
	color: white;
	background-color: #18a865;
}
.messages .container table {
	width: 100%;
}
.messages .container table tr {
	height: 100px;
}
.messages .container table tr td {
	padding: 10px;
}
.messages .container table tr td:first-child {
	font-weight: 500;
}
.messages .container table tr td:nth-child(2),
.messages .container table tr td:nth-child(3) {
	color: gray;
}
.messages .container table tr.active {
	cursor: pointer;
}
.messages .container table tr.active:nth-child(odd) {
	background-color: #1dbf730f;
}
.messages .container table tr.active:hover {
	background-color: #1dbf7336;
}
.convo-delete-btn {
	cursor: pointer;
	border: none;
	padding: 5px 10px;
	font-size: 25px;
	font-weight: 600;
	text-decoration: none;
	color: #b41616;
	background-color: inherit;
	transition: all 0.3s ease-in-out;

	/* transition: background-color 0.15s; */
	height: 100%;
	width: 85%;
	padding: 0;
	border-radius: 50%;
}
.convo-delete-btn:hover {
	background-color: #cc3c3c3b;
	cursor: pointer;
}
