.category-nav-ul {
	color: #404145;
	font-size: 16px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: start;
	flex-direction: row;
	list-style: none;
	padding: 0px 5px;
	margin: 0 5px;
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
	border-bottom: 1px solid #e4e5e7;
}
.category-nav-li {
	padding: 5px;
	margin: 5px 5px 5px -6rem;
}
.subcategory-nav-ul {
	display: none;
	padding: 17px 50px 28px 50px;
	margin: 10px -15px;
	gap: 10px;
	position: absolute;
	justify-content: center;
	align-items: start;
	text-align: start;
	list-style: none;
	/* background-color: #fdd5d5; */
	/* box-shadow: 0px 0px 3px 3px rgba(79, 79, 80, 0.56); */
	/* border-bottom: 1px solid #bdbdbe;
	border-left: 1px solid #bdbdbe;
	border-right: 1px solid #bdbdbe; */

	/* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #e2e2e2;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
	/* border-radius: 5px; */
	z-index: -1;
}
.category-nav-link {
	text-decoration: none;
	color: #404145;
}
.category-nav-link:hover {
	text-decoration: underline;
	color: #4c4d52;
}
.category-nav-li:hover .subcategory-nav-ul {
	display: grid;
}
/* .category-span { */
.category-nav-li:hover .category-span {
	padding-bottom: 10px;
	border-bottom: 2px solid #52924a;
}
