@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.category-nav-ul {
	font-family: "Roboto", sans-serif;
	color: #74767e;
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: start;
	flex-direction: row;
	list-style: none;
	font-weight: 400;
	font-size: 18px;
	padding: 0px;
	margin: 0px;
	/* margin-top: 90px; */
	/* margin-left: -685px; */
	margin-left: -10px;
	width: 110%;
	/* position: fixed; */
	cursor: pointer;
	border-radius: 5px;
	border-bottom: 2px solid #e4e5e7;
	border-top: 1px solid #e4e5e7;
	background-color: #fff;
	z-index: 5;
}

.category-nav-li {
	padding: 5px;
	margin: 5px 5px 5px -6rem;
}
.subcategory-nav-ul {
	display: none;
	padding: 17px 50px 28px 43px;
	margin: 10px -15px;
	gap: 10px;
	position: absolute;
	justify-content: center;
	align-items: start;
	text-align: start;
	list-style: none;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.22);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 3;
	background-color: #fff;
}
.subcategory-nav-link,
.category-nav-link {
	text-decoration: none;
	/* color: #404145; */
	color: #74767e;
}
.subcategory-nav-link:hover {
	text-decoration: underline;
	color: #4c4d52;
}
.category-nav-li:hover .subcategory-nav-ul {
	display: grid;
}
/* .category-span { */
.category-nav-li:hover .category-span {
	padding-bottom: 10px;
	border-bottom: 4px solid #1dbf73b5;
}
