@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.orders {
	display: flex;
	font-family: "Roboto", sans-serif;
	justify-content: center;
	color: #555;
}
.orders .container {
	width: 1400px;
	padding: 50px 0px;
}
.orders .container .title {
	display: flex;
	justify-content: space-between;
}
.orders .container .title button {
	background-color: #1dbf73;
	color: white;
	font-weight: 500;
	border: none;
	padding: 10px;
	cursor: pointer;
}
.orders .container table {
	width: 100%;
	text-align: left;
}
.orders .container table tr {
	height: 50px;
}
.orders .container table tr th {
	text-align: left;
}
.orders .container table tr td sup {
	font-size: 12px;
}
.orders .container table tr td .image {
	width: 50px;
	height: 25px;
	object-fit: cover;
	margin-left: 15px;
}
.orders .container table tr td .message {
	width: 25px;
	cursor: pointer;
}
.orders .container table tbody tr:nth-child(odd) {
	background-color: #1dbf730f;
}
.order-completed {
	cursor: pointer;
	border: 1px solid #1dbf73;
	border-radius: 5px;
	padding: 5px 7px;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: #1dbf73;
	background-color: white;
	transition: all 0.3s ease-in-out;
}
.order-completed:hover {
	color: white;
	background-color: #18a865;
}
